body{
  overflow-x: hidden;
  background: black;
}
/* ----------------------------------------------------
  header
---------------------------------------------------- */

nav.navbar{
  background-color : black !important;  
}
header {
  position: relative;
  background-color: black;
  height: 60vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
.logo img {
  width:70px;
}
.login{
    position: relative;
    left: 30%;
}
.btn_login{
  left: 10%;
  position: absolute;
}


/* swiper */
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background:white;
}
.form-group{
  width: 20%;
  position: relative;
  left: 35%;
  color: white;
}
.btn-form{
  position: relative;
  left: 35%;  
}